.about {
    padding: 4rem 0rem;
}

.aboutHead {
    position: relative;
    height: 18rem;
    padding: 0 4rem;
}

.aboutHead span {
    z-index: 9;
    position: relative;
    top: -3rem;
}

.aboutHead span p {
    font-size: 4rem;
    font-family: 'Orbitron', sans-serif;
    rotate: -4.5deg;
}

.aboutHead span h1 {
    font-size: 7rem;
    color: var(--orange);
    rotate: -4.5deg;
    line-height: 1;
    margin-top: -1rem;
}

.aboutImage {
    z-index: 1;
    position: absolute;
    right: 4rem;
    top: 0;
    width: 55%;
    height: 15rem;
    object-fit: cover;
    object-position: 0px 10px;
}

.aboutContent {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
    font-size: 1.35rem;
    letter-spacing: .5px;
    padding: 0 6rem;
}

.about .prev {
    width: 100%;
    overflow: hidden;
}

.about .prev h1 {
    margin: 3rem 6rem;
}

.eventPartnersContainer {
    padding: 1rem;
    padding-top: 1.5rem;
    border-radius: 12px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.eventPartnersContainer:hover .eventPartners {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.eventPartners {
    display: inline-block;
    animation: 15s slide infinite linear;
}

.eventPartners img {
    height: 18rem;
    margin: 0 -11px;
    filter: grayscale(1);
    transition: all .3 ease-in-out;
}

.eventPartners img:hover {
    filter: grayscale(0);
}

.eventPartners .logos:nth-child(odd) {
    rotate: 4.5deg;
}

.eventPartners .logos:nth-child(even) {
    rotate: -4.5deg;
}

@media(width<=820px) {
    .aboutHead {
        padding: 0 2rem;
        height: 14rem;
    }

    .aboutHead span p {
        font-size: 3rem;
    }

    .aboutHead span h1 {
        font-size: 5rem;
    }

    .aboutImage {
        right: 2rem;
        height: 10rem;
    }

    .aboutContent {
        padding: 0 4rem;
    }

    .about .prev h1 {
        margin: 3rem 4rem;
    }

    .eventPartners img {
        height: 15rem;
    }

    .register h1 {
        font-size: 1.5rem;
    }
}

@media(width<=520px) {
    .aboutHead {
        padding: 0 1rem;
        height: 10rem;
    }

    .aboutHead span p {
        font-size: 2rem;
    }

    .aboutHead span h1 {
        font-size: 4rem;
        line-height: 1.3;
    }

    .aboutImage {
        top: 1rem;
        right: 1rem;
        height: 8rem;
        width: 80%;
    }

    .aboutContent {
        padding: 0 2rem;
        font-size: .9rem;
        padding-top: 1rem;
    }

    .about .prev h1 {
        margin: 3rem 2rem;
    }

    .eventPartners img {
        height: 10rem;
    }

    .register h1 {
        font-size: 1.2rem;
    }
}

@media(width<=400px) {
    .aboutHead span p {
        font-size: 1.5rem;
    }

    .aboutHead span h1 {
        font-size: 3rem;
    }

    .aboutImage {
        top: 0rem;
    }

    .aboutContent {
        padding: 0 1rem;
        font-size: .8rem;
    }

    .about .prev h1 {
        margin: 3rem 1rem;
    }

    .eventPartners img {
        height: 8rem;
    }

    .register h1 {
        font-size: 1rem;
    }
}